<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta charset="ISO-8859-1">
    <title>EditingEmployee</title>
</head>
<body>
<div align="center">
    <br/>
    <h1>Edit Profile Employee</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${employee}"
          method="post">
        <div class="form-group">
            <label>Employee ID:</label>
            <input type="text" class="form-control" th:field="*{id}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label>FirstName : </label>
            <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}"/>
        </div>
        <div class="form-group">
            <label>LastName : </label>
            <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}"/>
        </div>
        <div class="form-group">
            <label>Email : </label>
            <input type="email" class="form-control" placeholder="Email" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label>Phone : </label>
            <input type="number" class="form-control" placeholder="Phone" th:field="*{phone}"/>
        </div>
        <div width="" class="form-group">
            <label>Town : </label>
            <input type="text" class="form-control" placeholder="Town" th:field="*{town}"/>
        </div>

        <button type="submit" class="btn btn-success">Save</button>

    </form>
</div>
</body>
</html>